<table style="background-color:tomato; width:100%; font-family:helvetica;">
  <tbody>
    <tr style="background-color:black;">
      <td><p style="color:white;"><strong>Analog Archives</strong></p></td>
    </tr>
    <tr>
      <td><p>You have received a new contact form message. The contents of the message are:</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>
