<table>
  <tbody>
    <tr>
      <td><h2>Thank you for completing your purchase with Analog Archives!</h2></td>
    </tr>
    <tr>
      <td><p></p></td>
    </tr>
    <tr>
      <td><p><strong></strong></p></td>
    </tr>
  </tbody>
</table>
