/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import 'bulma';


/*********** Remove Bottom Padding From Notifications ********/
.notification:not(:last-child) {
  margin-bottom: 0;
}

.flexbox-class {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .form-group {
    width: 100%;
  }
  .btn-primary {
    margin-bottom: 16px
  }
}

/************* Navigation Logo ***************/

.analog-archives-sm {

}

.navbar-logo {
  background: url('analog-archives-sm.sm') no-repeat center;
  background-size: cover;
}




/*************** Landing Splash Animation **************************/

#ANALOG-ARCHIVES-FACE {
  animation: flashinganalogarchivesface .2s infinite;
}

#ANALOG-ARCHIVES-BODY {
  animation: flashinganalogarchivesbody .2s infinite;
}

@keyframes flashinganalogarchivesface {

  0% {
    fill: #000000;
  }
  50% {
    fill: #fff;
  }
  100% {
    fill: #000;
  }
}

@keyframes flashinganalogarchivesbody {

  0% {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}
