<h1 class="title has-text-centered">Create An Album</h1>
<div class="columns is-centered">
  <div class="column is-5">
    <%= render 'form', product: @product %>
    <div class="buttons">
    <%= link_to 'Back', products_path, class: "button is-danger" %>
    </div>
  </div>

</div>
